.toggle-checkbox {
  appearance: none;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 9999px;
  background-color: white;
  border: 2px solid #ccc;
  transition: all 0.3s ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
}

.toggle-checkbox:checked {
  left: 1.25rem;
  background-color: #10b981; /* Tailwind green */
}

.toggle-label {
  display: block;
  width: 2.5rem;
  height: 1.5rem;
  background-color: #d1d5db; /* Tailwind gray */
  border-radius: 9999px;
  transition: background-color 0.3s ease-in-out;
  position: relative;
}

.toggle-checkbox:checked + .toggle-label {
  background-color: #10b981;
}
